In [76]:
import pandas as pd
import networkx as nx
import numpy as np
import glob

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

# for notebook
%matplotlib inline

## Datasets

worldcup : 21 temporadas

In [114]:
# https://www.kaggle.com/datasets/mozattt/worldcupdata19302018

worldcup = pd.read_csv('../data/worldcup/WorldCupMatches.csv', sep=',')
df = worldcup.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [115]:
df.head(20)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL
7,1930.0,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Paraguay,,18306.0,2.0,0.0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.0,1097.0,USA,PAR
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER
9,1930.0,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1.0,0.0,France,,2000.0,0.0,0.0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201.0,1094.0,CHI,FRA
10,1930.0,19 Jul 1930 - 15:00,Group 1,Estadio Centenario,Montevideo,Argentina,6.0,3.0,Mexico,,42100.0,3.0,1.0,SAUCEDO Ulises (BOL),ALONSO Gualberto (URU),RADULESCU Constantin (ROU),201.0,1086.0,ARG,MEX
11,1930.0,20 Jul 1930 - 13:00,Group 2,Estadio Centenario,Montevideo,Brazil,4.0,0.0,Bolivia,,25466.0,1.0,0.0,BALWAY Thomas (FRA),MATEUCCI Francisco (URU),VALLEJO Gaspar (MEX),201.0,1091.0,BRA,BOL
12,1930.0,20 Jul 1930 - 15:00,Group 4,Estadio Centenario,Montevideo,Paraguay,1.0,0.0,Belgium,,12000.0,1.0,0.0,VALLARINO Ricardo (URU),MACIAS Jose (ARG),LOMBARDI Domingo (URU),201.0,1089.0,PAR,BEL
13,1930.0,21 Jul 1930 - 14:50,Group 3,Estadio Centenario,Montevideo,Uruguay,4.0,0.0,Romania,,70022.0,4.0,0.0,REGO Gilberto (BRA),WARNKEN Alberto (CHI),SAUCEDO Ulises (BOL),201.0,1100.0,URU,ROU
14,1930.0,22 Jul 1930 - 14:45,Group 1,Estadio Centenario,Montevideo,Argentina,3.0,1.0,Chile,,41459.0,2.0,1.0,LANGENUS Jean (BEL),CRISTOPHE Henry (BEL),SAUCEDO Ulises (BOL),201.0,1084.0,ARG,CHI
15,1930.0,26 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.0,1.0,USA,,72886.0,1.0,0.0,LANGENUS Jean (BEL),VALLEJO Gaspar (MEX),WARNKEN Alberto (CHI),202.0,1088.0,ARG,USA
16,1930.0,27 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Uruguay,6.0,1.0,Yugoslavia,,79867.0,3.0,1.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),BALWAY Thomas (FRA),202.0,1101.0,URU,YUG
17,1930.0,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,,68346.0,1.0,2.0,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.0,1087.0,URU,ARG
18,1934.0,27 May 1934 - 16:30,Preliminary round,Stadio Benito Mussolini,Turin,Austria,3.0,2.0,France,Austria win after extra time,16000.0,0.0,0.0,VAN MOORSEL Johannes (NED),CAIRONI Camillo (ITA),BAERT Louis (BEL),204.0,1104.0,AUT,FRA
19,1934.0,27 May 1934 - 16:30,Preliminary round,Giorgio Ascarelli,Naples,Hungary,4.0,2.0,Egypt,,9000.0,2.0,2.0,BARLASSINA Rinaldo (ITA),DATTILO Generoso (ITA),SASSI Otello (ITA),204.0,1119.0,HUN,EGY

In [116]:
df.tail(20)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [118]:
#df = df[df['Year'] == ]
df = df[['Year', 
'Home Team Name',
'Home Team Goals', 
'Away Team Goals', 
'Away Team Name',
]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             852 non-null    float64
 1   Home Team Name   852 non-null    object
 2   Home Team Goals  852 non-null    float64
 3   Away Team Goals  852 non-null    float64
 4   Away Team Name   852 non-null    object
dtypes: float64(3), object(2)
memory usage: 178.7+ KB

In [119]:
df.rename(columns = {
    'Year':'year', 
    'Home Team Name':'home', 
    'Away Team Name':'away', 
    'Home Team Goals':'home_goals', 
    'Away Team Goals':'away_goals'
    }, inplace = True)

In [120]:
df = df[['year','home','away','home_goals','away_goals']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        852 non-null    float64
 1   home        852 non-null    object
 2   away        852 non-null    object
 3   home_goals  852 non-null    float64
 4   away_goals  852 non-null    float64
dtypes: float64(3), object(2)
memory usage: 178.7+ KB

In [121]:
df = df.dropna(how='any',axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 851
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        852 non-null    float64
 1   home        852 non-null    object
 2   away        852 non-null    object
 3   home_goals  852 non-null    float64
 4   away_goals  852 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.9+ KB

In [122]:
print(sorted(df['year'].unique()))
print("#temporadas = ", len(df['year'].unique()))

[1930.0, 1934.0, 1938.0, 1950.0, 1954.0, 1958.0, 1962.0, 1966.0, 1970.0, 1974.0, 1978.0, 1982.0, 1986.0, 1990.0, 1994.0, 1998.0, 2002.0, 2006.0, 2010.0, 2014.0]
#temporadas =  20

In [123]:
#temp = ['2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
#df = df.loc[df['year'].isin(temp)].reset_index()

In [124]:
vhome = list(df['home'].unique())
print(len(vhome))

vaway = list(df['away'].unique())
print(len(vaway))

vertice = set(vhome) | set(vaway)
print(len(vertice))
print(list(vertice))

78
83
83
['El Salvador', 'Egypt', 'Norway', 'Korea DPR', 'Italy', 'Angola', 'Bulgaria', 'Iran', 'Ukraine', 'Soviet Union', 'Morocco', 'Canada', 'rn">Bosnia and Herzegovina', 'Haiti', 'Russia', 'IR Iran', 'German DR', 'Sweden', 'South Africa', 'Netherlands', 'Mexico', 'Chile', 'Uruguay', 'Serbia', 'Algeria', 'New Zealand', 'Israel', 'Hungary', 'Poland', 'Belgium', 'Czechoslovakia', 'USA', 'Yugoslavia', 'Spain', 'Argentina', 'Togo', 'Austria', 'Kuwait', 'Paraguay', 'Germany', 'China PR', 'Portugal', 'Switzerland', 'Japan', 'Slovakia', 'Germany FR', 'Turkey', 'Australia', 'Senegal', 'Denmark', 'Greece', 'Ghana', 'England', 'Wales', 'Northern Ireland', 'Jamaica', 'Brazil', 'Cameroon', 'Honduras', 'Romania', 'Colombia', "Cte d'Ivoire", 'Zaire', 'Iraq', 'France', 'Dutch East Indies', 'Scotland', 'Slovenia', 'Bolivia', 'Ecuador', 'Nigeria', 'rn">Serbia and Montenegro', 'Czech Republic', 'Tunisia', 'Korea Republic', 'rn">United Arab Emirates', 'rn">Republic of Ireland', 'Croatia', 'Costa Rica', 'rn">Trinidad and Tobago', 'Cuba', 'Peru', 'Saudi Arabia']

In [125]:
df['home_win'] = 0.0
df['away_win'] = 0.0
df['draw'] = 0.0

df.loc[df['home_goals'] > df['away_goals'], 'home_win'] = 1.0
df.loc[df['home_goals'] < df['away_goals'], 'away_win'] = 1.0
df.loc[df['home_goals'] == df['away_goals'], 'draw'] = 1.0

df.head(20)

,year,home,away,home_goals,away_goals,home_win,away_win,draw
0,1930.0,France,Mexico,4.0,1.0,1.0,0.0,0.0
1,1930.0,USA,Belgium,3.0,0.0,1.0,0.0,0.0
2,1930.0,Yugoslavia,Brazil,2.0,1.0,1.0,0.0,0.0
3,1930.0,Romania,Peru,3.0,1.0,1.0,0.0,0.0
4,1930.0,Argentina,France,1.0,0.0,1.0,0.0,0.0
5,1930.0,Chile,Mexico,3.0,0.0,1.0,0.0,0.0
6,1930.0,Yugoslavia,Bolivia,4.0,0.0,1.0,0.0,0.0
7,1930.0,USA,Paraguay,3.0,0.0,1.0,0.0,0.0
8,1930.0,Uruguay,Peru,1.0,0.0,1.0,0.0,0.0
9,1930.0,Chile,France,1.0,0.0,1.0,0.0,0.0
10,1930.0,Argentina,Mexico,6.0,3.0,1.0,0.0,0.0
11,1930.0,Brazil,Bolivia,4.0,0.0,1.0,0.0,0.0
12,1930.0,Paraguay,Belgium,1.0,0.0,1.0,0.0,0.0
13,1930.0,Uruguay,Romania,4.0,0.0,1.0,0.0,0.0
14,1930.0,Argentina,Chile,3.0,1.0,1.0,0.0,0.0
15,1930.0,Argentina,USA,6.0,1.0,1.0,0.0,0.0
16,1930.0,Uruguay,Yugoslavia,6.0,1.0,1.0,0.0,0.0
17,1930.0,Uruguay,Argentina,4.0,2.0,1.0,0.0,0.0
18,1934.0,Austria,France,3.0,2.0,1.0,0.0,0.0
19,1934.0,Hungary,Egypt,4.0,2.0,1.0,0.0,0.0

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 851
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        852 non-null    float64
 1   home        852 non-null    object
 2   away        852 non-null    object
 3   home_goals  852 non-null    float64
 4   away_goals  852 non-null    float64
 5   home_win    852 non-null    float64
 6   away_win    852 non-null    float64
 7   draw        852 non-null    float64
dtypes: float64(6), object(2)
memory usage: 59.9+ KB

In [127]:
df2 = df.groupby(
    ['home', 'away'],
    as_index=False,
    sort=False).agg({'home_goals':'sum', 'away_goals':'sum', 'home_win':'sum', 'away_win':'sum', 'draw' : 'sum'})

df2.head(20)

          home        away  home_goals  away_goals  home_win  away_win  draw
0       France      Mexico         8.0         6.0       2.0       1.0   1.0
1          USA     Belgium         3.0         0.0       1.0       0.0   0.0
2   Yugoslavia      Brazil         2.0         1.0       1.0       0.0   0.0
3      Romania        Peru         3.0         1.0       1.0       0.0   0.0
4    Argentina      France         3.0         1.0       2.0       0.0   0.0
5        Chile      Mexico         3.0         0.0       1.0       0.0   0.0
6   Yugoslavia     Bolivia         4.0         0.0       1.0       0.0   0.0
7          USA    Paraguay         3.0         0.0       1.0       0.0   0.0
8      Uruguay        Peru         1.0         0.0       1.0       0.0   0.0
9        Chile      France         1.0         0.0       1.0       0.0   0.0
10   Argentina      Mexico        11.0         5.0       3.0       0.0   0.0
11      Brazil     Bolivia         4.0         0.0       1.0       0.0   0.0
12    Paraguay     Belgium         3.0         2.0       1.0       0.0   1.0
13     Uruguay     Romania         4.0         0.0       1.0       0.0   0.0
14   Argentina       Chile         3.0         1.0       1.0       0.0   0.0
15   Argentina         USA         6.0         1.0       1.0       0.0   0.0
16     Uruguay  Yugoslavia         6.0         1.0       1.0       0.0   0.0
17     Uruguay   Argentina         4.0         2.0       1.0       0.0   0.0
18     Austria      France         3.0         3.0       1.0       1.0   0.0
19     Hungary       Egypt         4.0         2.0       1.0       0.0   0.0

In [128]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661 entries, 0 to 660
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home        661 non-null    object
 1   away        661 non-null    object
 2   home_goals  661 non-null    float64
 3   away_goals  661 non-null    float64
 4   home_win    661 non-null    float64
 5   away_win    661 non-null    float64
 6   draw        661 non-null    float64
dtypes: float64(5), object(2)
memory usage: 36.3+ KB

In [130]:
lista = []
for keys, infos in df2.iterrows():
    time1 = infos.home
    time2 = infos.away
    t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away']]
    
    if len(t) == 0:
        lista.append(time1)
        #print(time2,"x",time1)

print(len(lista))

495

In [131]:
time1 = "USA"
time2 = "Belgium"

t = df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw']]
print(t.values)

t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw']]
print(t.values)

[['USA' 'Belgium' 3.0 0.0 1.0 0.0 0.0]]
[['Belgium' 'USA' 4.0 2.0 2.0 0.0 0.0]]

In [132]:
time1 = "Mexico"
time2 = "France"

t = df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw']]
print(t.values)

t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw']]
print(t.values)

[]
[['France' 'Mexico' 8.0 6.0 2.0 1.0 1.0]]

In [133]:
time1 = "Peru"
time2 = "Bulgaria"

t = df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw']]
print(t.values)

t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw']]
print(t.values)

[['Peru' 'Bulgaria' 3.0 2.0 1.0 0.0 0.0]]
[]

In [134]:
df2.head(20)

          home        away  home_goals  away_goals  home_win  away_win  draw
0       France      Mexico         8.0         6.0       2.0       1.0   1.0
1          USA     Belgium         3.0         0.0       1.0       0.0   0.0
2   Yugoslavia      Brazil         2.0         1.0       1.0       0.0   0.0
3      Romania        Peru         3.0         1.0       1.0       0.0   0.0
4    Argentina      France         3.0         1.0       2.0       0.0   0.0
5        Chile      Mexico         3.0         0.0       1.0       0.0   0.0
6   Yugoslavia     Bolivia         4.0         0.0       1.0       0.0   0.0
7          USA    Paraguay         3.0         0.0       1.0       0.0   0.0
8      Uruguay        Peru         1.0         0.0       1.0       0.0   0.0
9        Chile      France         1.0         0.0       1.0       0.0   0.0
10   Argentina      Mexico        11.0         5.0       3.0       0.0   0.0
11      Brazil     Bolivia         4.0         0.0       1.0       0.0   0.0
12    Paraguay     Belgium         3.0         2.0       1.0       0.0   1.0
13     Uruguay     Romania         4.0         0.0       1.0       0.0   0.0
14   Argentina       Chile         3.0         1.0       1.0       0.0   0.0
15   Argentina         USA         6.0         1.0       1.0       0.0   0.0
16     Uruguay  Yugoslavia         6.0         1.0       1.0       0.0   0.0
17     Uruguay   Argentina         4.0         2.0       1.0       0.0   0.0
18     Austria      France         3.0         3.0       1.0       1.0   0.0
19     Hungary       Egypt         4.0         2.0       1.0       0.0   0.0

In [135]:
df2.tail(20)

,home,away,home_goals,away_goals,home_win,away_win,draw
641,Costa Rica,England,0.0,0.0,0.0,0.0,1.0
642,Japan,Colombia,1.0,4.0,0.0,1.0,0.0
643,Greece,Cte d'Ivoire,2.0,1.0,1.0,0.0,0.0
644,Nigeria,Argentina,2.0,3.0,0.0,1.0,0.0
645,"rn"">Bosnia and Herzegovina",IR Iran,3.0,1.0,1.0,0.0,0.0
646,Honduras,Switzerland,0.0,3.0,0.0,1.0,0.0
647,Ecuador,France,0.0,0.0,0.0,0.0,1.0
648,USA,Germany,0.0,1.0,0.0,1.0,0.0
649,Portugal,Ghana,2.0,1.0,1.0,0.0,0.0
650,Korea Republic,Belgium,0.0,1.0,0.0,1.0,0.0
651,Algeria,Russia,1.0,1.0,0.0,0.0,1.0
652,Colombia,Uruguay,4.0,0.0,2.0,0.0,0.0
653,France,Nigeria,4.0,0.0,2.0,0.0,0.0
654,Germany,Algeria,4.0,2.0,2.0,0.0,0.0
655,Brazil,Colombia,4.0,2.0,2.0,0.0,0.0
656,France,Germany,0.0,2.0,0.0,2.0,0.0
657,Brazil,Germany,2.0,14.0,0.0,2.0,0.0
658,Netherlands,Costa Rica,0.0,0.0,0.0,0.0,2.0
659,Costa Rica,Greece,2.0,2.0,0.0,0.0,2.0
660,Belgium,USA,4.0,2.0,2.0,0.0,0.0

In [136]:
df2["weight1"] = 0.0
df2["weight2"] = 0.0

In [137]:
for keys, infos in df2.iterrows():
    time1 = infos.home
    time2 = infos.away

    t1 =  df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['away_goals','away_win','draw']].values
    t2 =  df2.loc[(df2['away'] == time1) & (df2['home'] == time2)][['home_goals','home_win','draw']].values

    g1 = p1 = 0
    for i1 in t1:
        g1 = i1[0]
        p1 = 3*i1[1] + 1*i1[2]

    g2 = p2 = 0
    for i2 in t2:
        g2 = i2[0]
        p2 = 3*i2[1] + 1*i2[2]

    df2.loc[keys,'weight1'] = g1 + g2
    df2.loc[keys,'weight2'] = p1 + p2

In [138]:
df2.head(20)

,home,away,home_goals,away_goals,home_win,away_win,draw,weight1,weight2
0,France,Mexico,8.0,6.0,2.0,1.0,1.0,6.0,4.0
1,USA,Belgium,3.0,0.0,1.0,0.0,0.0,4.0,6.0
2,Yugoslavia,Brazil,2.0,1.0,1.0,0.0,0.0,4.0,5.0
3,Romania,Peru,3.0,1.0,1.0,0.0,0.0,1.0,0.0
4,Argentina,France,3.0,1.0,2.0,0.0,0.0,1.0,0.0
5,Chile,Mexico,3.0,0.0,1.0,0.0,0.0,0.0,0.0
6,Yugoslavia,Bolivia,4.0,0.0,1.0,0.0,0.0,0.0,0.0
7,USA,Paraguay,3.0,0.0,1.0,0.0,0.0,0.0,0.0
8,Uruguay,Peru,1.0,0.0,1.0,0.0,0.0,0.0,0.0
9,Chile,France,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10,Argentina,Mexico,11.0,5.0,3.0,0.0,0.0,5.0,0.0
11,Brazil,Bolivia,4.0,0.0,1.0,0.0,0.0,0.0,0.0
12,Paraguay,Belgium,3.0,2.0,1.0,0.0,1.0,2.0,1.0
13,Uruguay,Romania,4.0,0.0,1.0,0.0,0.0,0.0,0.0
14,Argentina,Chile,3.0,1.0,1.0,0.0,0.0,1.0,0.0
15,Argentina,USA,6.0,1.0,1.0,0.0,0.0,1.0,0.0
16,Uruguay,Yugoslavia,6.0,1.0,1.0,0.0,0.0,4.0,3.0
17,Uruguay,Argentina,4.0,2.0,1.0,0.0,0.0,3.0,3.0
18,Austria,France,3.0,3.0,1.0,1.0,0.0,3.0,3.0
19,Hungary,Egypt,4.0,2.0,1.0,0.0,0.0,2.0,0.0

In [139]:
df2.tail(20)

,home,away,home_goals,away_goals,home_win,away_win,draw,weight1,weight2
641,Costa Rica,England,0.0,0.0,0.0,0.0,1.0,0.0,1.0
642,Japan,Colombia,1.0,4.0,0.0,1.0,0.0,4.0,3.0
643,Greece,Cte d'Ivoire,2.0,1.0,1.0,0.0,0.0,1.0,0.0
644,Nigeria,Argentina,2.0,3.0,0.0,1.0,0.0,7.0,12.0
645,"rn"">Bosnia and Herzegovina",IR Iran,3.0,1.0,1.0,0.0,0.0,1.0,0.0
646,Honduras,Switzerland,0.0,3.0,0.0,1.0,0.0,3.0,4.0
647,Ecuador,France,0.0,0.0,0.0,0.0,1.0,0.0,1.0
648,USA,Germany,0.0,1.0,0.0,1.0,0.0,4.0,9.0
649,Portugal,Ghana,2.0,1.0,1.0,0.0,0.0,1.0,0.0
650,Korea Republic,Belgium,0.0,1.0,0.0,1.0,0.0,4.0,7.0
651,Algeria,Russia,1.0,1.0,0.0,0.0,1.0,1.0,1.0
652,Colombia,Uruguay,4.0,0.0,2.0,0.0,0.0,2.0,3.0
653,France,Nigeria,4.0,0.0,2.0,0.0,0.0,0.0,0.0
654,Germany,Algeria,4.0,2.0,2.0,0.0,0.0,2.0,0.0
655,Brazil,Colombia,4.0,2.0,2.0,0.0,0.0,2.0,0.0
656,France,Germany,0.0,2.0,0.0,2.0,0.0,2.0,6.0
657,Brazil,Germany,2.0,14.0,0.0,2.0,0.0,14.0,6.0
658,Netherlands,Costa Rica,0.0,0.0,0.0,0.0,2.0,0.0,2.0
659,Costa Rica,Greece,2.0,2.0,0.0,0.0,2.0,2.0,2.0
660,Belgium,USA,4.0,2.0,2.0,0.0,0.0,5.0,3.0

In [140]:
for keys, infos in df2.iterrows():
    time1 = infos.home
    time2 = infos.away

    t2 = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)]
    
    if len(t2) == 0:
        t1 =  df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home_goals','home_win','draw']].values

        w1 = w2 = 0
        for i1 in t1:
            w1 = i1[0]
            w2 = 3*i1[1] + 1*i1[2]

        new = [time2, time1,np.nan,np.nan,0,0,0,w1,w2]

        new = pd.DataFrame(columns=df2.columns, data=[new])
        
        df2 = pd.concat([df2, new], axis=0)

In [141]:
df2.head(20)

,home,away,home_goals,away_goals,home_win,away_win,draw,weight1,weight2
0,France,Mexico,8.0,6.0,2.0,1.0,1.0,6.0,4.0
1,USA,Belgium,3.0,0.0,1.0,0.0,0.0,4.0,6.0
2,Yugoslavia,Brazil,2.0,1.0,1.0,0.0,0.0,4.0,5.0
3,Romania,Peru,3.0,1.0,1.0,0.0,0.0,1.0,0.0
4,Argentina,France,3.0,1.0,2.0,0.0,0.0,1.0,0.0
5,Chile,Mexico,3.0,0.0,1.0,0.0,0.0,0.0,0.0
6,Yugoslavia,Bolivia,4.0,0.0,1.0,0.0,0.0,0.0,0.0
7,USA,Paraguay,3.0,0.0,1.0,0.0,0.0,0.0,0.0
8,Uruguay,Peru,1.0,0.0,1.0,0.0,0.0,0.0,0.0
9,Chile,France,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10,Argentina,Mexico,11.0,5.0,3.0,0.0,0.0,5.0,0.0
11,Brazil,Bolivia,4.0,0.0,1.0,0.0,0.0,0.0,0.0
12,Paraguay,Belgium,3.0,2.0,1.0,0.0,1.0,2.0,1.0
13,Uruguay,Romania,4.0,0.0,1.0,0.0,0.0,0.0,0.0
14,Argentina,Chile,3.0,1.0,1.0,0.0,0.0,1.0,0.0
15,Argentina,USA,6.0,1.0,1.0,0.0,0.0,1.0,0.0
16,Uruguay,Yugoslavia,6.0,1.0,1.0,0.0,0.0,4.0,3.0
17,Uruguay,Argentina,4.0,2.0,1.0,0.0,0.0,3.0,3.0
18,Austria,France,3.0,3.0,1.0,1.0,0.0,3.0,3.0
19,Hungary,Egypt,4.0,2.0,1.0,0.0,0.0,2.0,0.0

In [142]:
df2.tail(20)

,home,away,home_goals,away_goals,home_win,away_win,draw,weight1,weight2
0,Costa Rica,Italy,NaN,NaN,0.0,0.0,0.0,0.0,0.0
0,Ecuador,Honduras,NaN,NaN,0.0,0.0,0.0,1.0,0.0
0,IR Iran,Argentina,NaN,NaN,0.0,0.0,0.0,1.0,3.0
0,"rn"">Bosnia and Herzegovina",Nigeria,NaN,NaN,0.0,0.0,0.0,1.0,3.0
0,Algeria,Korea Republic,NaN,NaN,0.0,0.0,0.0,2.0,0.0
0,Spain,Australia,NaN,NaN,0.0,0.0,0.0,0.0,0.0
0,Chile,Netherlands,NaN,NaN,0.0,0.0,0.0,2.0,3.0
0,England,Costa Rica,NaN,NaN,0.0,0.0,0.0,0.0,1.0
0,Colombia,Japan,NaN,NaN,0.0,0.0,0.0,1.0,0.0
0,Cte d'Ivoire,Greece,NaN,NaN,0.0,0.0,0.0,2.0,3.0
0,IR Iran,"rn"">Bosnia and Herzegovina",NaN,NaN,0.0,0.0,0.0,3.0,3.0
0,France,Ecuador,NaN,NaN,0.0,0.0,0.0,0.0,1.0
0,Ghana,Portugal,NaN,NaN,0.0,0.0,0.0,2.0,3.0
0,Russia,Algeria,NaN,NaN,0.0,0.0,0.0,1.0,1.0
0,Nigeria,France,NaN,NaN,0.0,0.0,0.0,4.0,6.0
0,Algeria,Germany,NaN,NaN,0.0,0.0,0.0,4.0,6.0
0,Colombia,Brazil,NaN,NaN,0.0,0.0,0.0,4.0,6.0
0,Germany,France,NaN,NaN,0.0,0.0,0.0,0.0,0.0
0,Costa Rica,Netherlands,NaN,NaN,0.0,0.0,0.0,0.0,2.0
0,Greece,Costa Rica,NaN,NaN,0.0,0.0,0.0,2.0,2.0

In [143]:
time1 = "USA"
time2 = "Belgium"

t = df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw','weight1','weight2']]
print(t.values)

t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw','weight1','weight2']]
print(t.values)

[['USA' 'Belgium' 3.0 0.0 1.0 0.0 0.0 4.0 6.0]]
[['Belgium' 'USA' 4.0 2.0 2.0 0.0 0.0 5.0 3.0]]

In [144]:
time1 = "Mexico"
time2 = "France"

t = df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw','weight1','weight2']]
print(t.values)

t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw','weight1','weight2']]
print(t.values)

[['Mexico' 'France' nan nan 0.0 0.0 0.0 8.0 7.0]]
[['France' 'Mexico' 8.0 6.0 2.0 1.0 1.0 6.0 4.0]]

In [145]:
time1 = "Peru"
time2 = "Bulgaria"

t = df2.loc[(df2['home'] == time1) & (df2['away'] == time2)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw','weight1','weight2']]
print(t.values)

t = df2.loc[(df2['home'] == time2) & (df2['away'] == time1)][['home','away','home_goals','away_goals','home_win', 'away_win', 'draw','weight1','weight2']]
print(t.values)

[['Peru' 'Bulgaria' 3.0 2.0 1.0 0.0 0.0 2.0 0.0]]
[['Bulgaria' 'Peru' nan nan 0.0 0.0 0.0 3.0 3.0]]

In [147]:
df3 = df2[['home','away','weight1','weight2']]

df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156 entries, 0 to 0
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   home     1156 non-null   object
 1   away     1156 non-null   object
 2   weight1  1156 non-null   float64
 3   weight2  1156 non-null   float64
dtypes: float64(2), object(2)
memory usage: 45.2+ KB

In [148]:
df3.head(20)

          home        away  weight1  weight2
0       France      Mexico      6.0      4.0
1          USA     Belgium      4.0      6.0
2   Yugoslavia      Brazil      4.0      5.0
3      Romania        Peru      1.0      0.0
4    Argentina      France      1.0      0.0
5        Chile      Mexico      0.0      0.0
6   Yugoslavia     Bolivia      0.0      0.0
7          USA    Paraguay      0.0      0.0
8      Uruguay        Peru      0.0      0.0
9        Chile      France      0.0      0.0
10   Argentina      Mexico      5.0      0.0
11      Brazil     Bolivia      0.0      0.0
12    Paraguay     Belgium      2.0      1.0
13     Uruguay     Romania      0.0      0.0
14   Argentina       Chile      1.0      0.0
15   Argentina         USA      1.0      0.0
16     Uruguay  Yugoslavia      4.0      3.0
17     Uruguay   Argentina      3.0      3.0
18     Austria      France      3.0      3.0
19     Hungary       Egypt      2.0      0.0

In [149]:
df3.tail(20)

                         home                        away  weight1  weight2
0                  Costa Rica                       Italy      0.0      0.0
0                     Ecuador                    Honduras      1.0      0.0
0                     IR Iran                   Argentina      1.0      3.0
0  rn">Bosnia and Herzegovina                     Nigeria      1.0      3.0
0                     Algeria              Korea Republic      2.0      0.0
0                       Spain                   Australia      0.0      0.0
0                       Chile                 Netherlands      2.0      3.0
0                     England                  Costa Rica      0.0      1.0
0                    Colombia                       Japan      1.0      0.0
0               Cte d'Ivoire                      Greece      2.0      3.0
0                     IR Iran  rn">Bosnia and Herzegovina      3.0      3.0
0                      France                     Ecuador      0.0      1.0
0                       Ghana                    Portugal      2.0      3.0
0                      Russia                     Algeria      1.0      1.0
0                     Nigeria                      France      4.0      6.0
0                     Algeria                     Germany      4.0      6.0
0                    Colombia                      Brazil      4.0      6.0
0                     Germany                      France      0.0      0.0
0                  Costa Rica                 Netherlands      0.0      2.0
0                      Greece                  Costa Rica      2.0      2.0

In [150]:
df3.to_csv('../data/work1/wourldcup_1930_2014.csv', index=False, sep=';')